@model canberra_food_a2.Models.Rest_reviews

@{
    ViewData["Title"] = "Details";
}

<section class="row header">
    <div> 
        <h2>CANBERRA RESTAURANTS</h2>
        <h1>Review Details</h1>
    </div>
</section>

<h1 class="review_heading">Review Details</h1>

<section class="review_page_edit">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Heading)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Heading)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disagree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disagree)
        </dd>
    </dl>
    <div>
        @{
            if (User.IsInRole("Manager"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
        }

        <a asp-action="Index">Back to List</a>
    </div>
</section>
