@model IEnumerable<canberra_food_a2.Models.Rest_reviews>

@{
    ViewData["Title"] = "Index";
}

<section class="row header">
    <div>
        <h2>CANBERRA RESTAURANTS</h2>
        <h1>Customer Reviews</h1>
    </div>
</section>

<section class="row section_about">
    <div class="text col-sm-12 col-md-6">
        <h2>Be The Critic</h2>
        <p>
            Have you been to a restaurant recently and loved it or loathed it? Then tell us all about it.
            <br><br>
        </p>
        @{if (User.IsInRole("Manager") || User.IsInRole("User"))
            {

            }
            else
            {
                <p>
                    Find your inner restaurant critic and create an account to review your recent dining experience.
                </p>
            }
        }
        @{if (User.IsInRole("Manager") || User.IsInRole("User"))
            {
                <a asp-action="Create"><button class="btn btn-info" type="button">Subtmit a Review</button></a>
            }
            else
            {
                <p>
                    <br>Please <a asp-area="" asp-controller="Account" asp-action="Login">log in</a> or <a asp-action="Register">create an account</a> to review a restaurant.
                </p>
            }
        }
    </div>

    <section class="food_image col-sm-12 col-md-6">
        <img src="~/images/burger.jpg" />
        <img src="~/images/pasta.jpg" />
    </section>
</section>

<section class="review_page">
    @foreach (var item in Model)
    {
        <div>
            <h1>@Html.DisplayFor(modelItem => item.Heading)</h1>
            <h2>@@ @Html.DisplayFor(modelItem => item.Restaurant)</h2>
            <h3>
                @{
                for (int i = 0; i < item.Rating; i++)
                {
                    <span style="color:blue;">&#x2605;</span>
                }
                for (int i = 0; i < 5 - item.Rating; i++)
                {
                    <span>&#x2606;</span>
                }
                }
            </h3>
            <p>@Html.DisplayFor(modelItem => item.Comment)</p>
            <h4>Reviewed by <b>@Html.DisplayFor(modelItem => item.Name)</b> on <b>@Html.DisplayFor(modelItem => item.Date)</b></h4>
            <div class="review_buttons">
                <a asp-action="Details" asp-route-id="@item.Id" class="button_left"><button class="btn_details btn btn-default" type="button">Details</button></a>
                <a asp-action="AgreeIncrease" asp-route-id="@item.Agree" class="button_left"><button class="btn btn-success" type="button">Agree (@item.Agree)</button></a>
                <a asp-action="Disagree" asp-route-id="@item.Disagree" class="button_left"><button class="btn btn-danger" type="button">Disagree (@item.Disagree)</button></a>
                @{
                    if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button_right"><button class="btn btn-default" type="button">Edit</button></a>
                    }
                }
                @{
                    if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="button_right"><button class="btn btn-default" type="button">Delete</button></a>
                    }
                }
            </div>
            

        </div>
    }
</section>
